@charset "utf-8";
@import url('https://cursedprograms.github.io/cursedentertainment/iframes/header/styles/horizontal-menu-style.css');
@import url('https://cursedprograms.github.io/cursedentertainment/styles/content-style.css');
@import url('https://cursedprograms.github.io/cursedentertainment/styles/error-style.css');
@import url('https://cursedprograms.github.io/cursedentertainment/styles/main-style.css');
@import url('/styles/colour-scheme.css');

body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
            }
    .container {
        background-color: white;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    h1 {
        margin-bottom: 1rem;
    }
    input {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #qrcode {
        margin-top: 1rem;
    }
